
.content-wrapper {
  max-width: 800px; /* Atur lebar maksimum konten */
  margin: 0 auto; /* Tengahkan konten */
  padding: 20px;
}

.divider {
  border: 4px solid #dfaf77;
}


/* CSS dasar Anda tetap sama */

/* Media Queries untuk layar yang lebih kecil */
@media only screen and (max-width: 600px) {
  .App-logo {
    height: 20vmin; /* Mengurangi tinggi logo untuk layar yang lebih kecil */
  }

  .content-wrapper {
    max-width: 100%; /* Mengubah lebar maksimum konten agar sesuai dengan lebar layar kecil */
    padding: 10px; /* Ubah padding untuk layar yang lebih kecil */
  }

  .App-header {
    padding: 20px; /* Menambahkan ruang tambahan di sekitar header untuk menghindari pemotongan */
  }
}
.App-header {
  background-color: #191419; /* Mengubah latar belakang menjadi hitam */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: center;
}




