.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; /* Mengisi seluruh lebar layar */
    background-color: #DFAF77; /* Mengubah warna background menjadi #DFAF77 */
    padding: 20px 0; /* Mengubah padding atas dan bawah */
    text-align: center; /* Menengahkan teks */
    font-weight: 1000;
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-item {
    display: inline-block;
    margin-right: 20px; /* Menambahkan space antar navbar */
}

.nav-item:last-child {
    margin-right: 0; /* Menghilangkan margin kanan pada item terakhir */
}

.nav-item a {
    text-decoration: none; /* Menghapus underline pada link */
    color: #000000; /* Mengubah warna teks link menjadi hitam */
    font-size: 25px; /* Mengubah ukuran font menjadi lebih kecil */
    position: relative; /* Menambahkan posisi relatif untuk mengatur pseudoclass */
}

.nav-item a:hover,
.nav-item a:active {
    border-bottom: 2px solid #ffffff; /* Menambahkan garis bawah saat kursor mengarah atau tautan aktif */
    color: #ffffff; /* Mengubah warna teks menjadi putih saat kursor mengarah */
    transition: color 0.3s ease; /* Efek transisi untuk perubahan warna teks */
}

.nav-item.logout button {
    background-color: #DFAF77; /* Mengatur warna background tombol logout sama dengan background navbar */
    border: none; /* Menghilangkan border */
    color: #000000; /* Mengatur warna teks */
    font-size: 25px; /* Mengatur ukuran font */
    cursor: pointer; /* Mengubah kursor saat mengarah ke tombol */
    padding: 0; /* Menghilangkan padding */
    font-weight: 1000;
    
}

.nav-item.logout button:hover,
.nav-item.logout button:active {
    color: #ffffff; /* Mengubah warna teks menjadi putih saat hover atau active */
    font-weight: 1000;
    border-bottom: 2px solid #ffffff; /* Menambahkan garis bawah saat kursor mengarah atau tautan aktif */
    transition: color 0.3s ease; 
}
