  .data-monitoring-rfews {
    font-size: 16px;
    line-height: 1.6;
    color: #ffffff; 
  }
  
  .data-monitoring-content h2 {
    font-size: 13 px;
    color: #ffffff; 
    margin-bottom: 10px; 
  }
